<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是首页</title>
    <link rel="stylesheet" href="{{ url_for("static", filename='css/bootstrap.css') }}">
    <script src="{{ url_for("static", filename='js/jquery.js') }}"></script>
</head>
<body>
<p>只是一段话</p>
<a href="http://www.baidu.com">这是一个链接</a>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" id="btn1">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>

<ul>
  {% for people in peoples %}
    <li style="color:red;"><a href="/user_info/{{ people }}">{{ people }}</a></li>
{% endfor %}
</ul>


<script>
    $("#btn1").click(function () {
        alert("Hello");
    });
</script>
</body>
</html>