<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是首页</title>
    <link rel="stylesheet" href="{{ url_for("static", filename='css/bootstrap.css') }}">
    <script src="{{ url_for("static", filename='js/jquery.js') }}"></script>
</head>
<body>
<p>只是一段话</p>
<a href="http://www.baidu.com">这是一个链接</a>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" id="btn1">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">1</button>
  <button type="button" class="btn btn-default">2</button>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>
  </div>
</div>



<script>
    $("#btn1").click(function () {
        alert("Hello");
    });
</script>
</body>
</html>